{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}


{% block import %}
  <!--<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />-->
  <link rel="stylesheet" href="{{ url_for('static',filename='vendor/leaflet/leaflet.css') }}"/>
  <script src="{{ url_for('static',filename='vendor/leaflet/leaflet.js') }}" ></script>
  <script src="{{ url_for('static',filename='vendor/d3/d3.v3.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/plotly/plotly-latest.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/data_analysis.js') }}"></script>
  <!--<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.13.min.css"
    rel="stylesheet" type="text/css">-->
{% endblock %}

{% block active_index %}
active
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
  <p>{{ message }}</p>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<!--<h4>Dataset :  '{{ datasetPath }}'</h4>-->

<h1 class="my-4">Matrix visualization</small></h1>
<div class="row">
   <!--<div id="includedContent"></div>-->
   <div w3-include-html="{{ url_for('static',filename='static/output/myhtml.html') }} "></div>
   <!--<iframe scrolling="yes" id="includedContent" src="{{ url_for('static',filename='output/myhtml.html') }}" style="width:100%; height: 400px;" frameBorder="0" scrolling="no">  </iframe>-->

 
</div>
<div class="row">
<div id="dimlist" border="1"></div>
</div>
<div class="row">

<div class="col-md-8">
        <div class="row">
          <div class="col-md-8">
            <div id='parent' style="width: 500px; height: 400px;"></div>
          </div>
          <div class="col-md-4">
            <div id="legend" style="overflow:scroll; height:400px;"></div>
          </div>
        </div>
</div>

<div class="col-md-4">
  <div class="card">
  <div class="card-header">
    Customize bit vector
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush" id="bitvector">
      <li class="list-group-item">Bit 0 : <input type="text" value="" /></li>
      <li class="list-group-item">Bit 1 : <input type="text" value="" /></li>
      <li class="list-group-item">Bit 2 : <input type="text" value="" /></li>
    </ul>
    <br/>
    <button class="btn btn-primary" id="goButton">Get Image</a>
  </div>
</div>
<!--<h3 class="my-3">Project Description</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
  <h3 class="my-3">Project Details</h3>
  <ul>
    <li>Lorem Ipsum</li>
    <li>Dolor Sit Amet</li>
    <li>Consectetur</li>
    <li>Adipiscing Elit</li>
  </ul>
</div>
-->
</div>
{% endblock %}

{% block jsimport %}
<!--<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.13.min.js"></script>-->
<!--<script src="{{ url_for('static',filename='output/myscript.js') }}"></script>-->
<script>
    var datasetPath='{{datasetPath}}';
    dynamicallyLoadSelectList('#dimlist',datasetPath);
    
    //$(function(){
    //  $("#includedContent").load('static/output/myhtml.html'); 
    //});
    $('#goButton').on('click',updateImage);

    function includeHTML() {
  var z, i, elmnt, file, xhttp;
  /*loop through a collection of all HTML elements:*/
  z = document.getElementsByTagName("*");
  for (i = 0; i < z.length; i++) {
    elmnt = z[i];
    /*search for elements with a certain atrribute:*/
    file = elmnt.getAttribute("w3-include-html");
    if (file) {
      /*make an HTTP request using the attribute value as the file name:*/
      xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4) {
          if (this.status == 200) {elmnt.innerHTML = this.responseText;}
          if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
          /*remove the attribute, and call this function once more:*/
          elmnt.removeAttribute("w3-include-html");
          includeHTML();
        }
      } 
      xhttp.open("GET", file, true);
      xhttp.send();
      /*exit the function:*/
      return;
    }
  }
}
</script>
{% endblock %}

