{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}


{% block import %}
  <!--<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />-->
  <link rel="stylesheet" href="{{ url_for('static',filename='vendor/leaflet/leaflet.css') }}"/>
  <script src="{{ url_for('static',filename='vendor/leaflet/leaflet.js') }}" ></script>
  <script src="{{ url_for('static',filename='vendor/d3/d3.v3.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/plotly/plotly-latest.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/data_analysis.js') }}"></script>
{% endblock %}

{% block active_index %}
active
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
  <p>{{ message }}</p>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<!--<h4>Dataset :  '{{ datasetPath }}'</h4>-->

<h1 class="my-4">Matrix visualization</small></h1>
<div class="row">
<div id="dimlist" border="1"></div>
</div>
<div class="row">

<div class="col-md-8">
  <img class="img-fluid" src="http://placehold.it/750x500" alt="">
</div>

<div class="col-md-4">
  <div class="card">
  <div class="card-header">
    Customize bit vector
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush" id="bitvector">
      <li class="list-group-item">Bit 0 : <input type="text" value="" /></li>
      <li class="list-group-item">Bit 1 : <input type="text" value="" /></li>
      <li class="list-group-item">Bit 2 : <input type="text" value="" /></li>
    </ul>
    <br/>
    <button class="btn btn-primary" id="goButton">Get Image</a>
  </div>
</div>
<!--<h3 class="my-3">Project Description</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
  <h3 class="my-3">Project Details</h3>
  <ul>
    <li>Lorem Ipsum</li>
    <li>Dolor Sit Amet</li>
    <li>Consectetur</li>
    <li>Adipiscing Elit</li>
  </ul>
</div>
-->
</div>
{% endblock %}


{% block jsimport %}
<script>
    var datasetPath='{{datasetPath}}';
    dynamicallyLoadSelectList('#dimlist',datasetPath);
    $('#goButton').on('click',updateImage);
</script>
{% endblock %}

