{% extends 'base.html' %}

{% block title %}
Download
{% endblock %}

{% block content %}
      <div class="container jumbotron text-center" style="background-color: rgba(0.7,0.7,0.7,0.2)">
        <h2 class="text-success">Success!</h2>
        <p>
          Your file has been successfully cleaned. Click on the download button to download your file.
        </p>
        <a href="{{ download_path }}" download="" class="btn btn-outline-info btn-lg">Download your file!</a>
      </div>
{% endblock %}